{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('datatables/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('datatables/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}

<div class="main-content-inner">
    <div class="row">
                    <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
        <h3>Liste des congés</h3>
        <table id="example" class="table text-center table-striped table-bordered" style="width:100%">
        <thead style="background-color:#444444">
            <tr style="color:white">
                <th>Date de demande</th>
                <th>Date de départ</th>
                <th>Date de retour</th>
                <th>Motif</th>
                <th>Statut</th>
            </tr>
        </thead>
        
        <tbody>
            {% for conge in conges %}
            <tr>
                <td>{{ conge.date_demande |date("d/m/Y")}}</td>
                <td>{{ conge.date_depart |date("d/m/Y")}}</td>
                <td>{{ conge.date_retour |date("d/m/Y")}}</td>
                <td>{{ conge.motif }}</td>
                <td>
                    {% if conge.etat == "En attente" %}
                        <span class="badge badge-waring" style="background-color:#ffc107">En attente</span>
                    {% elseif conge.etat == "A valider" %}
                        <span class="badge badge-primary" style="background-color:#007bff">A valider</span>
                    {% elseif conge.etat == "Refusé" %}
                        <span class="badge badge-danger" style="background-color:#dc3545">Refusé</span>
                    {% elseif conge.etat == "Validé" %}
                        <span class="badge badge-success" style="background-color:#28a745">Validé</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>

            </div>
            </div>
        </div>
                    <!-- data table end -->
                </div>
            </div>
                
    {% endblock %}

    {% block javascripts %}
        {{ parent()}}
    <script type="text/javascript" src="{{ asset('datatables/js/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datatables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#example').DataTable();
        } );
    </script>

    {% endblock %}        
        
