{% extends 'base.html.twig' %}

{% block title %}Congés{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('csss/bootstrap.css') }}">
{% endblock %}
	
{% block body %}
<div class="main-content-inner">
                <div class="row">


                    
                    <!-- data table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Liste de demandes</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center" id="conges">
                                            <thead class="text-uppercase bg-secondary">
                                                <tr class="text-white">
                                                    <th scope="col">Date demande</th>
                                                    <th scope="col">Date de départ</th>
                                                    <th scope="col">Date de retour</th>
                                                    <th scope="col">Motif</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>

                                            
                                            	{% for conge in conges %}	
                                            <tbody>
                                                <tr>
                                                    <td>{{ conge.date_demande |date("d/m/Y")}}</td>
                                                    <td>{{ conge.date_depart |date("d/m/Y")}}</td>
                                                    <td>{{ conge.date_retour |date("d/m/Y")}}</td>
                                                    <td>{{ conge.motif }}</td>
                                                    <td><button class="btn btn-success">Valider</button>

                                                    <a href="javascript:void(0);" class="btn btn-danger delete" data-idconge="{{ conge.id }}">Refuser</a></td>
                                                    
                                                </tr>
                                                <tr>
                                            </tbody>
                                        {% endfor %}
                                        </table>
                                    </div>
                                </div>

                            
                                <!--modal form -->

                                <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <!-- Button trigger modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="confirmModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Suppression</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                               <p>Refuser cette demande?</p>
                                                <div class="form-group">
                                                <input type="text" class="form-control aseho">
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" id="conf" class="btn btn-primary" id="conf">Save changes</button>
                                                
                                            </div>
                                            </div>
                                            
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                                <!--endmodal-->



                                <!-- Modal Delete Product-->
      
                         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   </div>
                                   <div class="modal-body">
                                        <strong>Are you sure to delete this data?</strong> 
                                   </div>
                                   <div class="modal-footer">
                                        <input type="hidden"class="form-control congid" required>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success supp">Delete</button>
                                   </div>
                                    </div>
                            </div>
                         </div>



                            </div>
                        </div>
                    </div>
                    <!-- data table end -->
                    
                  
                </div>
            </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jss/jquery-3.4.1.js') }}"></script>
    <script src="{{ asset('jss/bootstrap.js') }}"></script>
	{{ parent() }}
	<!--<script type="text/javascript">
	
const conges= document.getElementById('conges');
console.log(conges);
if(conges){
conges.addEventListener("click", e => {
	if (e.target.className === 'btn btn-danger delete-conge') {
		if (confirm('Etes-vous sûr?')) {
			const id = e.target.getAttribute('id-conge');

			fetch(`/gest_conges/delete/${id}`, {
				method: 'DELETE'
			}).then(res => window.location.reload());
		}
	}
});
}
</script>-->
<script>
    $(document).ready(function(){
            //showing data to edit modal      
        /*$('#mytable').on('click','.edit',function(){
        var product_id = $(this).data('id');
        var product_name = $(this).data('product_name');
        var product_price = $(this).data('product_price');
        $('#EditModal').modal('show');
        $('.product_name').val(product_name);
        $('.price').val(product_price);
        $('.product_id').val(product_id);
      });*/
        //showing delete record modal
        $('#conges').on('click','.delete',function(){
        var congeid = $(this).data('idconge'); // Ty ny maka an'ilay id ho supprimena
        var link = // Ny maka an le lien eto koa tsy haiko xD
        $('#DeleteModal').modal('show');
        $('.congid').val(congeid);
        
        $('#DeleteModal').on('click','.supp', function() {
            fetch(`/gest_conges/delete/${congeid}`, {
                method: 'DELETE'
            }).then(res => window.location.reload());
        })
        });



      });
 
</script>
{% endblock %}